/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-image:url('../../resources/images/retrowaves.gif');
}

#menuBar{
	 -fx-text-fill: black;
}

.label{
 /*-fx-font-size: 15;*/
 -fx-font-family: "Lucida Console";
 /*-fx-text-fill: white;*/
 -fx-alignment: center;
}


.button{
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-background-radius: 0;
    -fx-background-color: purple;
}

#outline .text{
	-fx-fill: white;
	-fx-stroke: black;
	-fx-stroke-width: 1.5px;
}

#outline2 .text{
	-fx-fill: white;
	-fx-stroke: black;
	-fx-stroke-width: 0.5px;
}